<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../includes/head'); %>
</head>
<body class="container">

<header>
    <%- include('../includes/nav'); %>
</header>

<div class="card mb-3">
  <img src="img/home.JPG" class="card-img-top" alt="homepage">
  <div class="card-body">
    <h1 class="card-title">Office languages</h1>
    <p class="card-text" ><h4>Apprenez une langue gratuitement en ligne.</h4></p>
    <p class="card-text"><h6 class="text-muted">Start now one of courses!</h6></p>
  </div>
</div>
<footer>
    <%- include('../includes/footer'); %>
</footer>

</body>
</html>